.title {
    position: relative;
    top: -20vh;
    text-align: center;
}

h1 {
    padding: 1rem;
}

.carousel.slide {
    height: 40vh;
    margin-bottom: 20vh;
    position: relative;
    top: -20vh;
}
