<div class="ourBoards">
  <div class="title">
    <h1>OUR TOP SELLERS</h1>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <img class="carousel-image board1" src="../../../assets/new_boards/blue1.jpg" alt="Second slide">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p class="titleBoard1 centerTitle">TORPEDO</p>
            <div class="box centerBox">
              <p class="textBox">Torpedo is a balance of tradition and modern performance. Suited to the elite level surfer to the everyday surfer.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <img class="carousel-image board2" src="../../../assets/new_boards/green1.jpg" alt="Third slide">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p class="titleBoard2 centerTitle">NEPTUNE</p>
            <div class="box1 centerBox">
                <p class="textBox">Neptune is a performance shortboard designed to give the surfer all the control and hold when the waves get serious but still be on your shortboard.</p>
              </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <img class="carousel-image board3" src="../../../assets/new_boards/pink1.jpg" alt="Fourth slide">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p class="titleBoard3 centerTitle">NEMO</p>
            <div class="box2 centerBox">
                <p class="textBox">Nemo is a playful shortboard with great sensitivity for any high performance surfing.</p>
              </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <img class="carousel-image board4" src="../../../assets/new_boards/orange2.jpg" alt="Fifth slide">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p class="titleBoard4 centerTitle">HIGHLINER</p>
            <div class="box3 centerBox">
                <p class="textBox">Highliner is a fuller-plane shape board designed to bring versatility and fun to small waves without forgetting about that superior performance spark, too.</p>
              </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <img class="carousel-image board5" src="../../../assets/new_boards/black1.jpg" alt="Six slide">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p class="titleBoard5 centerTitle">SPIDER</p>
            <div class="box4 centerBox">
                <p class="textBox">Spider is an extraordinary twin that will actually ride like your performance board — top to bottom — but you’ll be flying around the wave with that drag-free twin fin feeling.</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>