.mentawai_beach{
    height: 50%;
    transition: 2s ease-in-out;
    align-content: center;
    &:hover{
        content:url('../../../assets/IMG_5214[1220].jpg');
        transform: scale(1.1);
    }
}

.text{
    text-align: center;
}

.description{
   visibility: hidden;
   font-size: 0px;
}

.under_water img{
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.under_water:hover img{
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 480px){
  .under{
    height: 50%;;
  }
  .title{
    font-size: 60px;
    text-align: center;
    -webkit-transition: font-size 2s;
    -moz-transition: font-size 2s;
    -o-transition: font-size 2s;
    transition: font-size 2s;
    &:hover{
        font-size: 70px;
    }
    &:hover + .description{
        visibility: visible;
        font-size: 15px;
    }
}
}

@media (min-width: 780px) and (max-width: 1024px){
  .under{
    height: 50%;
  }
  .title{
    font-size: 80px;
    text-align: center;
    -webkit-transition: font-size 2s;
    -moz-transition: font-size 2s;
    -o-transition: font-size 2s;
    transition: font-size 2s;
    &:hover{
        font-size: 90px;
    }
    &:hover + .description{
        visibility: visible;
        font-size: 15px;
    }
}
}

@media (min-width: 480px) and (max-width: 780px){
  .under{
    height: 60%;
  }
  .title{
    font-size: 70px;
    text-align: center;
    -webkit-transition: font-size 2s;
    -moz-transition: font-size 2s;
    -o-transition: font-size 2s;
    transition: font-size 2s;
    &:hover{
        font-size: 90px;
    }
    &:hover + .description{
        visibility: visible;
        font-size: 15px;
    }
  }
  .mentawai_beach{
    align-content: center;
  }
}

@media (min-width: 1025px) and (max-width: 1499px){
  .under{
    padding-left: 20px;
    height: 65%;
  }
  .title{
    font-size: 80px;
    text-align: center;
    -webkit-transition: font-size 2s;
    -moz-transition: font-size 2s;
    -o-transition: font-size 2s;
    transition: font-size 2s;
    &:hover{
        font-size: 100px;
    }
    &:hover + .description{
        visibility: visible;
        font-size: 15px;
    }
  }
  .mentawai_beach{
    height: 60%;
  }
  .changeSmall3{
    height: 70%;
  }
}

@media (min-width: 1500px){
  .under{
    padding-left: 20px;
    height: 100%;
  }
  .title{
    font-size: 100px;
    text-align: center;
    -webkit-transition: font-size 2s;
    -moz-transition: font-size 2s;
    -o-transition: font-size 2s;
    transition: font-size 2s;
    &:hover{
        font-size: 120px;
    }
    &:hover + .description{
        visibility: visible;
        font-size: 15px;
    }
  }
  .mentawai_beach {
    height: 80%;
  } 
  .changeSmall3{
    height: 70%;
  }
}
.showImage{
  display:none;
}

.hideDiv{
  display:none;
}

.change1{
  @media (min-width: 1500px){
    height: 75%;
  }
    height: 55%;
    content:url('../../../assets/IMG_5267[1614].jpg');
    transition: 2s ease-in-out;
    align-content: center;
    &:hover{
        content:url('../../../assets/IMG_5266[1613].jpg');
        transform: scale(1.1);
    }
}

.change2{
  content:url('../../../assets/IMG_5210[1217].jpg');
  transition: 2s ease-in-out;
  align-content: center;
  &:hover{
      content:url('../../../assets/IMG_5211[1218].jpg');
      transform: scale(1.1);
  }
}
.change3{
  content:url('../../../assets/IMG_5268[1615].jpg');
  transition: 2s ease-in-out;
  align-content: center;
  &:hover{
      content:url('../../../assets/IMG_5271[1617].jpg');
      transform: scale(1.1);
  }
}

.changeSmall2 {
  content:url('../../../assets/IMG_5259[1595].jpg');
  align-content: center;
  height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.changeSmall2:hover{
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.changeSmall3 {
  @media (min-width: 1500px){
    height: 45%;
  }
  content:url('../../../assets/IMG_5203[1210].jpg');
  align-content: center;
  height: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.changeSmall3:hover{
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.changeSmall4 {
  @media (min-width: 1500px){
    height: 45%;
  }
  content:url('../../../assets/IMG_5270[1616].jpg');
  align-content: center;
  height: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.changeSmall4:hover{
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.title-mentawai, .title-zarautz, .title-oahu, .title-j-bay{
  &:hover{
    cursor: pointer;
  }
}