<!--<div class="surf_spot p-5">

  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="text">
          <p class="title wow fadeInLeft pl-3">MENTAWAI</p>
          <span class="description">One of the best surfing place.</span>
      </div>
      <div class="row pt-5 under_water">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <img src="../../../assets/IMG_5202[1209].jpg" class="under center">
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <img src="../../../assets/IMG_5213[1221].jpg" class="mentawai_beach center" >
    </div>
  </div>

</div>-->

<div class="surf_spot p-5">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="text title-mentawai">
        <p data-wow-delay="" class="title wow fadeInLeft pl-3">MENTAWAI</p>
        <span class="description">For when the tropics are calling escaping to a desert island is a must.  The Mentawai Islands are home to some of the most beautiful and unspoiled surf spots on the planet, just remember it's all about the boat ride out.</span>
      </div>
      <div class="text title-oahu">
        <p data-wow-delay="0.6s" class="title wow fadeInLeft pl-3">OAHU</p>
        <span class="description">Known as the island of the Gods, Bali is blessed with surf no matter what the season.  During the rainy season the East coast lights up, and then when the dry season comes West is best, as the almighty Uluwatu comes alive and calls its pilgrims from around the globe.</span>
      </div>
      <div class="text title-zarautz">
        <p data-wow-delay="1.2s" class="title wow fadeInLeft pl-3">ZARAUTZ</p>
        <span class="description">Almost always crowded, particularly on the main peaks. Zarautz is one of the most popular surfing beaches in Spain.</span>
      </div>
      <div class="text title-j-bay">
        <p data-wow-delay="1.8s" class="title wow fadeInLeft pl-3">J-BAY</p>
        <span class="description">For thigh burning rides that seem to last for eternity, Jeffreys Bay is the place. With stunning views all around the coastline of South Africa, J-Bay is a treasured spot that is only the tip of a whole string of amazing breaks one after another.</span>
      </div>
      <div class="row pt-5 under_water showImage">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img src="../../../assets/IMG_5202[1209].jpg" class="under center">
          </div>
        </div>
      

    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 image-surf">
        <img src="../../../assets/IMG_5213[1221].jpg" class="mentawai_beach center" >
    </div>
  </div>
</div>