
<div class="intro">

  <div class="section">
          
    <h1>PAINT THE SKY <br> WITH <span class="colored-1">STARS</span></h1>
    
  </div>
  
  <div class="right section">
      
    <h1>PAINT THE SKY <br> WITH <span class="colored-1">STARS</span></h1>
      
  </div>
  
</div>

<div class="row" #row>
  <div class="section">

    <h1>PAINT THE SKY <br> WITH <span class="colored-1">STARS</span></h1>

  </div>


  <div class="section">

    <h1>PAINT THE SKY <br> WITH <span class="colored-1">STARS</span></h1>

  </div>

  <div class="section">

    <h1>PAINT THE SKY <br> WITH <span class="colored-1">STARS</span></h1>

  </div>

  <div class="section" style="opacity: 0">

    <h1>PAINT THE SKY <br> WITH <span class="colored-1">STARS</span></h1>

  </div>

  <div class="section">

    <h1>PAINT THE SKY <br> WITH <span class="colored-1">STARS</span></h1>

  </div>
  
  <div class="section">

    <h1>PAINT THE SKY <br> WITH <span class="colored-1">STARS</span></h1>

  </div>

  <div class="section">

    <h1>PAINT THE SKY <br> WITH <span class="colored-1">STARS</span></h1>

  </div>

  <div class="section">

    <h1>PAINT THE SKY <br> WITH <span class="colored-1">STARS</span></h1>

  </div>

</div>