.video_section{
  position: absolute;
  width: 100%;
  height: 130%;
  overflow: hidden;
}

.video_section video{
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}


.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: url('../../../assets/IMG_5209[1216].jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 130vh;
    // padding: 10rem 0rem;
}

.card {
    width: 25%;
    height: 25%;
    background-color: #ffffff8c;
}

.title{
    position: sticky;
    top: 10rem;
    background-color: #ffffff00;
}

.stretched {
    height: 100%;
    width: 100%;
}

.info {
    margin-top: auto;
    position: sticky;
    top: 10rem;
}

.text{
    text-align: center;
    padding:10px;
}

@media (max-width : 480px){
  .surf_title {
    font-size: 50px;
    text-align: center;
    color: white;
    opacity: 0.9;
  }
}

@media (min-width: 480px) and (max-width: 1024px){
  .surf_title {
    font-size: 100px;
    text-align: center;
    color: white;
    opacity: 0.9;
  }
}


@media (max-width: 1024px){
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInRight {
    animation-name: fadeInRight;
  }

  .animated {
    animation-duration: 4s;
    animation-fill-mode: both;
  }
}

@media (min-width: 1025px) and (max-width: 1499px){
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(-50%, 0, 0);
    }
  }
  
  .fadeInRight {
    animation-name: fadeInRight;
  }

  .animated {
    animation-duration: 4s;
    animation-fill-mode: both;
  }
  .surf_title {
    padding-top: 50px;
    font-size: 120px;
    text-align: center;
    color: white;
    opacity: 0.9;
  }
}
  
@media (min-width: 1500px){
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(-50%, 0, 0);
    }
  }
  
  .fadeInRight {
    animation-name: fadeInRight;
  }

  .animated {
    animation-duration: 4s;
    animation-fill-mode: both;
  }
  .surf_title {
    padding-top: 50px;
    font-size: 160px;
    text-align: center;
    color: white;
    opacity: 0.9;

  }
}

.surf_title {
  height: 100%;
  padding-top: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #23423444;
}