<div class="main">

  <h1>Our top sellers</h1>

  <div class="slideshow">
    <div class="images">
    </div>
 </div>

  <div class="board-row">

    <div class="board">
      <img src="../../../assets/boards/first.jpg">
      <h3>TORQ Surfboard <br> Epoxy 6.3 Fish Lines</h3>
    </div>
    <div class="board">
      <img src="../../../assets/boards/fourth.jpg">  
      <h3>TORQ Surfboard <br> Epoxy 6.3 Fish FiftyFifty</h3>
    </div>
    <div class="board">
      <img src="../../../assets/boards/second.jpg">
      <h3>TORQ Surfboard <br> Epoxy 6.6 Fish Lines</h3>
    </div>
    <div class="board">
      <img src="../../../assets/boards/third.jpg">
      <h3>TORQ Surfboard <br> Epoxy 6.6 Fish new classic</h3>
    </div>

  </div>
</div>