.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 80vh;
    background-color: white;
    position: relative;
    top: -15vh;
}
.board-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

h1 {
    font-size: 3rem;
}

.board {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-wrapper {
    -webkit-box-shadow: 10px 10px 0px 0px rgba(117,192,245,1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(117,192,245,1);
    box-shadow: 10px 10px 0px 0px rgba(117,192,245,1);
}
img {
    width: 14rem;
    height: 14rem;
    -webkit-box-shadow: 1px 2px 4px 2px rgba(207,207,207,1);
    -moz-box-shadow: 1px 2px 4px 2px rgba(207,207,207,1);
    box-shadow: 1px 2px 4px 2px rgba(207,207,207,1);
    transition: all 200ms ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}


.slideshow {
    position: relative;
    overflow: hidden;
    height: 50vh;
    width: 100%;
}
.images {
    background: url('../../../assets/boards/boards-short.png');
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300%;
    animation: slideshow 120s linear infinite;
    transform: translate3d(0, 0, 0);
}
@keyframes slideshow {
    0%    { left: 0; }
    100%  {
        left: -100%;
        -webkit-transform: translateX(-200%);  
    }
}