<div class="makingBoards">
  
  <div class="inner center white overlay hide">
    <h3 class="wow zoomIn text">DESIGN. PERFORMANCE. INNOVATION. ART.</h3>
  </div>
  
  <video class="making video_section hide" muted autoplay loop>
    <source src="../../../assets/videos/loop-shaping-short.mp4" type="video/mp4">
  </video>

  <div class="making-description">
    <div class="btn-making">
      <h3 class="text1 pb-3">Our boards are made of very quality materials.</h3>
    </div>
    <p class="text-making">All the Surfer surfboards are built on a traditional polyurethane core with a complete epoxy laminate and finish (known as PE construction).</p>
    <p class="text-making">The epoxy resin is known to be a higher quality material than polyester. Is more UV resistant, stronger and has more reactive flex pattern. The result is a whiter and brighter surfboard that doesn’t yellow as quickly as a traditional polyester construction (aesthetics) which responds faster to your movements (performance).</p>
  </div>
    
</div>
