.main {
    position: relative;
    top: -20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    min-height: 60vh;
    
    
//-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0 23%);
//clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0 23%);

//-webkit-clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 50% 100%, 0 100%, 0 20%);
//clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 50% 100%, 0 100%, 0 20%);



//-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 50% 95%, 0 100%, 0 23%);
//clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 50% 95%, 0 100%, 0 23%);



-webkit-clip-path: polygon(50% 0%, 100% 15%, 100% 100%, 0 86%, 0 15%);
clip-path: polygon(50% 0%, 100% 15%, 100% 100%, 0 86%, 0 15%);


}

.info-card {
    min-width: 10rem;
    min-height: 10rem;
    width: 60%;
    height: 50%;
    background-color: #ffffff4c;
    transition: background-color 500ms;
    transition: all .2s ease-in-out;
}

.info-card:hover {
    background-color: #ffffff81;
    transform: scale(1.1);
}

.text {
    text-align: center;
    padding: 10px;
}

.aboutUs{
    font-size: 60px;
    padding-top: 20vh;
    padding-bottom: 10vh;
}
