@import './extraStyles/scrollbar.scss';
@import "./w3css/w3.scss";
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    background-color: #f8f8f8;
}

/* * {
    border:solid 1px red;
    margin: 3px;
} */
.carousel-control-next {
    filter: invert(100%);
}

.carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators {
    filter: invert(100%);
}