
.wrapper {
    height: 350vh;
}

.sticky-1 {
    position: sticky;
    top: 0;
}

.sticky-2 {
    position: sticky;
    top: 0;
}

.shapes-container {
    position: relative;
    overflow: hidden;
    width: 65vw;
    min-width: 50vh;
    height: 120vh;
    margin-left: auto;
}

.city-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 120vh;
    margin-left: auto;
}

.shape {
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.72);
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.72);
    
    &.first {
    width: 100vw;
    height: 100vw;
    
    position: absolute;
    bottom: 0vh;
    left: 0vw;

    background-color: #efeef4;
    border-radius: 75% 25% 29% 71% / 34% 47% 53% 66%;
    
    }

    &.second {
        width: 100vw;
        height: 100vw;
        
        position: absolute;
        bottom: 7vh;
        left: 1.2vw;

        background-color: #62d3fc;
        border-radius: 75% 25% 29% 71% / 34% 47% 53% 66%; // 75% 25% 35% 65% / 37% 47% 53% 63%;
        
    }

    &.third {
        width: 100vw;
        height: 100vw;
        
        
        
        position: absolute;
        bottom: 13vh;
        left: 2.3vw;
        
        background-color: #516bf3;
        border-radius: 75% 25% 29% 71% / 34% 47% 53% 66%; // 75% 25% 27% 73% / 40% 47% 53% 60%;
    }
}